
.idea
*.iml
*.class

*.xlsx

# Eclipse
.project
.classpath
.settings
bin

# Package Files #
*.zip
*.jar
*.war
*.ear
/target
/src/main/java/samples
/blockchain
/state
/details
/logs

*.db
*.xlsx
/gen
