# Java
*.class

# Intellij
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/
/bin

# Maven
log/
target/

# Package Files #
*.zip
*.jar
*.war
*.ear

# Output #
/logs
/dmp
/database
/null

# Mac
.DS_Store