<configuration>

    <!-- FILE appender is disabled -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %p [%c{1}] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/ethereum.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>./logs/ethereum-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %p [%c{1}] %m%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="FILE"/>-->
    </root>

    <logger name="test" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="state" level="ERROR"/>
    <logger name="trie" level="ERROR"/>
    <logger name="peermonitor" level="ERROR"/>
    <logger name="net" level="ERROR"/>
    <logger name="block" level="ERROR"/>
    <logger name="ui" level="ERROR"/>
    <logger name="VM" level="ERROR"/>
    <logger name="main" level="ERROR"/>
    <logger name="wire" level="ERROR"/>
    <logger name="db" level="ERROR"/>
    <logger name="general" level="ERROR"/>
    <logger name="TCK-Test" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="repository" level="ERROR"/>
    <logger name="blockchain" level="ERROR"/>
    <logger name="java.nio" level="ERROR"/>
    <logger name="blockqueue" level="ERROR"/>
    <logger name="io.netty" level="ERROR"/>
    <logger name="peerdiscovery" level="ERROR"/>
    <logger name="hsqldb.db" level="ERROR"/>
    <logger name="gas" level="ERROR"/>
    <logger name="wallet" level="ERROR"/>
    <logger name="txs" level="ERROR"/>

</configuration>
