<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%c{1}]  %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/ethereum.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover hourly -->
            <fileNamePattern>./logs/ethereum-%d{yyyy-MM-dd-'h'HH}.log.zip</fileNamePattern>
            <!-- ~1 month -->
            <maxHistory>720</maxHistory>
            <totalSizeCap>50GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} [%c{1}]  %m%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="state" level="DEBUG"/>
    <logger name="trie" level="ERROR"/>
    <logger name="ui" level="ERROR"/>
    <logger name="VM" level="TRACE"/>
    <logger name="org.ethereum.net" level="ERROR"/>
    <logger name="main" level="INFO"/>
    <logger name="org.ethereum.core" level="ERROR"/>
    <logger name="dump" level="OFF"/>
    <logger name="wire" level="ERROR"/>
    <logger name="repository" level="INFO"/>
    <logger name="blockchain" level="INFO"/>
    <logger name="java.nio" level="ERROR"/>
    <logger name="peerdiscovery" level="ERROR"/>
    <logger name="io.netty" level="ERROR"/>
    <logger name="org.ethereum.db" level="ERROR"/>
    <logger name="gas" level="ERROR"/>
    <logger name="txs" level="ERROR"/>
    <logger name="wallet" level="ERROR"/>

</configuration>

